imalcoreV2/imalChannelWS/Service References/NIBSSService/sbp_outward_trans.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NameEnquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationBankCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChannelCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NameEnquiryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NameEnquiryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NameEnquiryIMAL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationBankCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChannelCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NameEnquiryIMALResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NameEnquiryIMALResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FT_SendtoNIBSS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bracodeval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cusnumval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="curcodeval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ledcodeval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subacctval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orignatorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationBankCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChannelCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentRef" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FT_SendtoNIBSSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FT_SendtoNIBSSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FT_SendtoNIBSSIMAL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bracodeval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cusnumval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="curcodeval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ledcodeval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subacctval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orignatorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationBankCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChannelCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionidFT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BeneBVN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrigBVN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OriginatorAccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VatAmt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FT_SendtoNIBSSIMALResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FT_SendtoNIBSSIMALResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FT_SendtoNIBSSBankOne">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bracodeval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cusnumval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="curcodeval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ledcodeval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subacctval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orignatorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DestinationBankCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChannelCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paymentRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sessionidFT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BeneBVN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OrigBVN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FT_SendtoNIBSSBankOneResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FT_SendtoNIBSSBankOneResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NameEnquirySoapIn">
    <wsdl:part name="parameters" element="tns:NameEnquiry" />
  </wsdl:message>
  <wsdl:message name="NameEnquirySoapOut">
    <wsdl:part name="parameters" element="tns:NameEnquiryResponse" />
  </wsdl:message>
  <wsdl:message name="NameEnquiryIMALSoapIn">
    <wsdl:part name="parameters" element="tns:NameEnquiryIMAL" />
  </wsdl:message>
  <wsdl:message name="NameEnquiryIMALSoapOut">
    <wsdl:part name="parameters" element="tns:NameEnquiryIMALResponse" />
  </wsdl:message>
  <wsdl:message name="FT_SendtoNIBSSSoapIn">
    <wsdl:part name="parameters" element="tns:FT_SendtoNIBSS" />
  </wsdl:message>
  <wsdl:message name="FT_SendtoNIBSSSoapOut">
    <wsdl:part name="parameters" element="tns:FT_SendtoNIBSSResponse" />
  </wsdl:message>
  <wsdl:message name="FT_SendtoNIBSSIMALSoapIn">
    <wsdl:part name="parameters" element="tns:FT_SendtoNIBSSIMAL" />
  </wsdl:message>
  <wsdl:message name="FT_SendtoNIBSSIMALSoapOut">
    <wsdl:part name="parameters" element="tns:FT_SendtoNIBSSIMALResponse" />
  </wsdl:message>
  <wsdl:message name="FT_SendtoNIBSSBankOneSoapIn">
    <wsdl:part name="parameters" element="tns:FT_SendtoNIBSSBankOne" />
  </wsdl:message>
  <wsdl:message name="FT_SendtoNIBSSBankOneSoapOut">
    <wsdl:part name="parameters" element="tns:FT_SendtoNIBSSBankOneResponse" />
  </wsdl:message>
  <wsdl:portType name="sbp_outward_transSoap">
    <wsdl:operation name="NameEnquiry">
      <wsdl:input message="tns:NameEnquirySoapIn" />
      <wsdl:output message="tns:NameEnquirySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NameEnquiryIMAL">
      <wsdl:input message="tns:NameEnquiryIMALSoapIn" />
      <wsdl:output message="tns:NameEnquiryIMALSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FT_SendtoNIBSS">
      <wsdl:input message="tns:FT_SendtoNIBSSSoapIn" />
      <wsdl:output message="tns:FT_SendtoNIBSSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FT_SendtoNIBSSIMAL">
      <wsdl:input message="tns:FT_SendtoNIBSSIMALSoapIn" />
      <wsdl:output message="tns:FT_SendtoNIBSSIMALSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FT_SendtoNIBSSBankOne">
      <wsdl:input message="tns:FT_SendtoNIBSSBankOneSoapIn" />
      <wsdl:output message="tns:FT_SendtoNIBSSBankOneSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sbp_outward_transSoap" type="tns:sbp_outward_transSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NameEnquiry">
      <soap:operation soapAction="http://tempuri.org/NameEnquiry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NameEnquiryIMAL">
      <soap:operation soapAction="http://tempuri.org/NameEnquiryIMAL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FT_SendtoNIBSS">
      <soap:operation soapAction="http://tempuri.org/FT_SendtoNIBSS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FT_SendtoNIBSSIMAL">
      <soap:operation soapAction="http://tempuri.org/FT_SendtoNIBSSIMAL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FT_SendtoNIBSSBankOne">
      <soap:operation soapAction="http://tempuri.org/FT_SendtoNIBSSBankOne" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sbp_outward_transSoap12" type="tns:sbp_outward_transSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NameEnquiry">
      <soap12:operation soapAction="http://tempuri.org/NameEnquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NameEnquiryIMAL">
      <soap12:operation soapAction="http://tempuri.org/NameEnquiryIMAL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FT_SendtoNIBSS">
      <soap12:operation soapAction="http://tempuri.org/FT_SendtoNIBSS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FT_SendtoNIBSSIMAL">
      <soap12:operation soapAction="http://tempuri.org/FT_SendtoNIBSSIMAL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FT_SendtoNIBSSBankOne">
      <soap12:operation soapAction="http://tempuri.org/FT_SendtoNIBSSBankOne" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sbp_outward_trans">
    <wsdl:port name="sbp_outward_transSoap" binding="tns:sbp_outward_transSoap">
      <soap:address location="http://10.0.41.102:8084/sbp_outward_trans.asmx" />
    </wsdl:port>
    <wsdl:port name="sbp_outward_transSoap12" binding="tns:sbp_outward_transSoap12">
      <soap12:address location="http://10.0.41.102:8084/sbp_outward_trans.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>