SterlingUSSDT24/PlentyMoney/Web References/sGTConnect/GTConnectBean.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://com.gameteclabs.ws/msgsubsys-ws" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.gameteclabs.ws/msgsubsys-ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WSErrorResponse" type="tns:WSErrorResponse" />
  <xs:complexType name="WSHeaderMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSMessage">
        <xs:sequence>
          <xs:element name="applicationVersion" type="xs:double" />
          <xs:element minOccurs="0" name="currentTime" type="xs:dateTime" />
          <xs:element name="messageId" type="xs:int" />
          <xs:element name="channelId" type="xs:int" />
          <xs:element minOccurs="0" name="sourceId" type="xs:string" />
          <xs:element minOccurs="0" name="posId" type="xs:string" />
          <xs:element minOccurs="0" name="extRefId" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSMessage" abstract="true">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="WSCurrentWeekBalanceRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element name="gameId" type="xs:byte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSRequestMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSMessage">
        <xs:sequence>
          <xs:element name="method" type="xs:byte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSCurrentWeekBalanceResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="salesAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="cancelAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="commissionAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="payoutAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSResponseMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="currentTime" type="xs:anySimpleType" />
          <xs:element name="responseCode" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSErrorResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSChangePasswordRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="oldPassword" type="xs:string" />
          <xs:element minOccurs="0" name="newPassword" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSChangePasswordResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element name="status" type="xs:byte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSCancelRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="ticketSerialNumber" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSCancelResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element name="gameId" type="xs:byte" />
          <xs:element minOccurs="0" name="ticketSerialNumber" type="xs:string" />
          <xs:element name="cancelAmount" type="xs:int" />
          <xs:element name="limitRemaining" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSGetCurrentDrawInfoRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="gameId" type="xs:byte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSGetCurrentDrawInfoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="gameName" type="xs:string" />
          <xs:element minOccurs="0" name="drawId" type="xs:int" />
          <xs:element minOccurs="0" name="drawCloseDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="estimatedJackpotAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSGetPlayerProfileRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSGetPlayerProfileResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="gender" type="xs:string" />
          <xs:element minOccurs="0" name="dob" type="xs:dateTime" />
          <xs:element minOccurs="0" name="mobileNumber" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element minOccurs="0" name="addressLine1" type="xs:string" />
          <xs:element minOccurs="0" name="addressLine2" type="xs:string" />
          <xs:element minOccurs="0" name="zipCode" type="xs:string" />
          <xs:element minOccurs="0" name="registrationDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSCurrentDayBalanceRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element name="gameId" type="xs:byte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSCurrentDayBalanceResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="salesAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="cancelAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="commissionAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="payoutAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSEditPlayerRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="gender" type="xs:string" />
          <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="mobileNumber" type="xs:string" />
          <xs:element minOccurs="0" name="zipCode" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element minOccurs="0" name="addressLine1" type="xs:string" />
          <xs:element minOccurs="0" name="addressLine2" type="xs:string" />
          <xs:element minOccurs="0" name="countryName" type="xs:string" />
          <xs:element minOccurs="0" name="securityQuestion" type="xs:byte" />
          <xs:element minOccurs="0" name="securityAnswer" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSEditPlayerResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element name="status" type="xs:byte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPlayerWithdrawRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="withdrawAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPlayerWithdrawResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="withdrawDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="withdrawAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="accountBalance" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSSignOffRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSSignOffResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element name="status" type="xs:byte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSDistributorSignOffRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSDistributorSignOffResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element name="status" type="xs:byte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPayRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="ticketSerialNumber" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPayResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element name="payMethod" type="xs:byte" />
          <xs:element name="gameId" type="xs:byte" />
          <xs:element minOccurs="0" name="ticketSerialNumber" type="xs:string" />
          <xs:element name="freePlayCount" type="xs:byte" />
          <xs:element name="payAmount" type="xs:long" />
          <xs:element name="limitRemaining" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSLottoGameRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element name="gameId" type="xs:byte" />
          <xs:element name="paymentType" type="xs:byte" />
          <xs:element name="numberOfPanels" type="xs:byte" />
          <xs:element name="numberOfDraws" type="xs:byte" />
          <xs:element name="advancedDraw" type="xs:byte" />
          <xs:element name="drawOffset" type="xs:byte" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="lottoRequestPanelData" nillable="true" type="tns:LottoRequestPanelData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LottoRequestPanelData">
    <xs:sequence>
      <xs:element name="betType" type="xs:byte" />
      <xs:element name="luckyPickFlag" type="xs:byte" />
      <xs:element name="betMultiplier" type="xs:short" />
      <xs:element minOccurs="0" name="matrix1" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="matrix2" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSLottoGameResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element name="numberOfDraws" type="xs:byte" />
          <xs:element minOccurs="0" name="startDrawDate" type="xs:dateTime" />
          <xs:element name="startDrawNumber" type="xs:int" />
          <xs:element name="startDrawCloseTime" type="xs:int" />
          <xs:element minOccurs="0" name="endDrawDate" type="xs:dateTime" />
          <xs:element name="endDrawNumber" type="xs:int" />
          <xs:element name="endDrawCloseTime" type="xs:int" />
          <xs:element minOccurs="0" name="ticketSerialNumber" type="xs:string" />
          <xs:element name="ticketCost" type="xs:int" />
          <xs:element name="salesTaxCost" type="xs:int" />
          <xs:element name="freePlayCount" type="xs:short" />
          <xs:element name="freePlayOnlineGame" type="xs:int" />
          <xs:element name="limitRemaining" type="xs:int" />
          <xs:element name="couponFlag" type="xs:byte" />
          <xs:element name="couponId" type="xs:int" />
          <xs:element minOccurs="0" name="couponText" type="xs:string" />
          <xs:element name="voucherFlag" type="xs:byte" />
          <xs:element name="voucherId" type="xs:int" />
          <xs:element minOccurs="0" name="voucherText" type="xs:string" />
          <xs:element name="numberOfPanels" type="xs:byte" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="lottoResponsePanelData" nillable="true" type="tns:LottoResponsePanelData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LottoResponsePanelData">
    <xs:sequence>
      <xs:element name="betType" type="xs:byte" />
      <xs:element name="luckyPickFlag" type="xs:byte" />
      <xs:element minOccurs="0" name="matrix1" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="matrix2" type="xs:base64Binary" />
      <xs:element name="betMultiplier" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSWinCheckRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element name="lockType" type="xs:byte" />
          <xs:element minOccurs="0" name="ticketSerialNumber" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSWinCheckResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element name="winMethod" type="xs:byte" />
          <xs:element name="gameId" type="xs:byte" />
          <xs:element minOccurs="0" name="ticketSerialNumber" type="xs:string" />
          <xs:element name="freePlayCount" type="xs:byte" />
          <xs:element name="winAmount" type="xs:int" />
          <xs:element name="drawId" type="xs:int" />
          <xs:element minOccurs="0" name="drawCloseDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="drawResults" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPlayerTransactionsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPlayerTransactionsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element name="numberOfTransactions" type="xs:byte" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="transactionResponseData" nillable="true" type="tns:TransactionResponseData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransactionResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="transactionName" type="xs:string" />
      <xs:element minOccurs="0" name="transactionAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="transactionFee" type="xs:decimal" />
      <xs:element minOccurs="0" name="accountBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="ticketSerialNumber" type="xs:string" />
      <xs:element minOccurs="0" name="selection" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSKenoGameRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element name="gameId" type="xs:int" />
          <xs:element name="numberOfPanels" type="xs:byte" />
          <xs:element name="numberOfDraws" type="xs:byte" />
          <xs:element name="advancedDraw" type="xs:byte" />
          <xs:element name="drawOffset" type="xs:byte" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="kenoRequestPanelData" nillable="true" type="tns:KenoRequestPanelData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KenoRequestPanelData">
    <xs:sequence>
      <xs:element name="spotPlayed" type="xs:byte" />
      <xs:element name="luckyPickFlag" type="xs:byte" />
      <xs:element name="betMultiplier" type="xs:short" />
      <xs:element name="numberOfMarks" type="xs:byte" />
      <xs:element minOccurs="0" name="selections" type="xs:base64Binary" />
      <xs:element name="bingoBonus" type="xs:byte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSKenoGameResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element name="numberOfDraws" type="xs:byte" />
          <xs:element name="startDrawDate" type="xs:int" />
          <xs:element name="startDrawNumber" type="xs:int" />
          <xs:element name="startDrawCloseTime" type="xs:int" />
          <xs:element name="endDrawDate" type="xs:int" />
          <xs:element name="endDrawNumber" type="xs:int" />
          <xs:element name="endDrawCloseTime" type="xs:int" />
          <xs:element minOccurs="0" name="ticketSerialNumber" type="xs:string" />
          <xs:element name="ticketCost" type="xs:int" />
          <xs:element name="salesTaxCost" type="xs:int" />
          <xs:element name="freePlayCount" type="xs:short" />
          <xs:element name="freePlayOnlineGame" type="xs:int" />
          <xs:element name="couponFlag" type="xs:byte" />
          <xs:element name="couponId" type="xs:int" />
          <xs:element minOccurs="0" name="couponText" type="xs:string" />
          <xs:element name="voucherFlag" type="xs:byte" />
          <xs:element name="voucherId" type="xs:int" />
          <xs:element name="numberOfPanels" type="xs:byte" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="kenoResponsePanelData" nillable="true" type="tns:KenoResponsePanelData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="KenoResponsePanelData">
    <xs:sequence>
      <xs:element name="spotPlayed" type="xs:byte" />
      <xs:element name="luckyPickFlag" type="xs:byte" />
      <xs:element minOccurs="0" name="selections" type="xs:base64Binary" />
      <xs:element name="betCost" type="xs:int" />
      <xs:element name="bingoBonus" type="xs:byte" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WSPlayerBalancesRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPlayerBalancesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountBalance" type="xs:decimal" />
          <xs:element minOccurs="0" name="availableBalance" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSSignOnRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="loginId" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="ipAddress" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSSignOnResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="accountBalance" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSDistributorSignOnRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="loginId" type="xs:int" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSDistributorSignOnResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="status" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSForgotPasswordRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="securityQuestion" type="xs:byte" />
          <xs:element minOccurs="0" name="securityAnswer" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSForgotPasswordResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSRegisterPlayerRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="firstName" type="xs:string" />
          <xs:element minOccurs="0" name="lastName" type="xs:string" />
          <xs:element minOccurs="0" name="gender" type="xs:string" />
          <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime" />
          <xs:element minOccurs="0" name="mobileNumber" type="xs:string" />
          <xs:element minOccurs="0" name="zipCode" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="city" type="xs:string" />
          <xs:element minOccurs="0" name="state" type="xs:string" />
          <xs:element minOccurs="0" name="addressLine1" type="xs:string" />
          <xs:element minOccurs="0" name="addressLine2" type="xs:string" />
          <xs:element minOccurs="0" name="countryName" type="xs:string" />
          <xs:element minOccurs="0" name="securityQuestion" type="xs:byte" />
          <xs:element minOccurs="0" name="securityAnswer" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSRegisterPlayerResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element name="status" type="xs:byte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSDrawResultsRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element name="gameId" type="xs:byte" />
          <xs:element name="drawId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSDrawResultsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element name="gameId" type="xs:byte" />
          <xs:element name="drawId" type="xs:int" />
          <xs:element minOccurs="0" name="drawCloseDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="drawResults" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPlayerDepositRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element name="depositType" type="xs:byte" />
          <xs:element name="voucherId" type="xs:string" />
          <xs:element minOccurs="0" name="depositAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPlayerDepositResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="depositDateTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="depositAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="accountBalance" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPurchaseVoucherRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element name="numberOfVouchers" type="xs:int" />
          <xs:element minOccurs="0" name="totalAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSPurchaseVoucherResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="fileName" type="xs:string" />
          <xs:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime" ns1:expectedContentTypes="application/octet-stream" minOccurs="0" name="dataHandler" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSGetVoucherFileNamesRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="distributorId" type="xs:int" />
          <xs:element minOccurs="0" name="fromDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="toDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSGetVoucherFileNamesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="noOfFiles" type="xs:int" />
          <xs:element minOccurs="0" name="fileNames" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSGetVoucherFileRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSRequestMessage">
        <xs:sequence>
          <xs:element name="distributorId" type="xs:int" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="fileName" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WSGetVoucherFileResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WSResponseMessage">
        <xs:sequence>
          <xs:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime" ns1:expectedContentTypes="application/octet-stream" minOccurs="0" name="dataHandler" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="headerMsg" nillable="true" type="tns:WSHeaderMessage" />
  <xs:element name="WSErrorResponseException" nillable="true" type="tns:WSErrorResponse" />
  <xs:element name="currentWeekBalReq" nillable="true" type="tns:WSCurrentWeekBalanceRequest" />
  <xs:element name="routeCurrentWeekBalanceResponse" nillable="true" type="tns:WSCurrentWeekBalanceResponse" />
  <xs:element name="changePwdReq" nillable="true" type="tns:WSChangePasswordRequest" />
  <xs:element name="routeChangePasswordResponse" nillable="true" type="tns:WSChangePasswordResponse" />
  <xs:element name="cancelReq" nillable="true" type="tns:WSCancelRequest" />
  <xs:element name="routeCancelResponse" nillable="true" type="tns:WSCancelResponse" />
  <xs:element name="currentDayBalReq" nillable="true" type="tns:WSCurrentDayBalanceRequest" />
  <xs:element name="routeCurrentDayBalanceResponse" nillable="true" type="tns:WSCurrentDayBalanceResponse" />
  <xs:element name="editPlayerReq" nillable="true" type="tns:WSEditPlayerRequest" />
  <xs:element name="routeEditPlayerResponse" nillable="true" type="tns:WSEditPlayerResponse" />
  <xs:element name="playerWithdrawReq" nillable="true" type="tns:WSPlayerWithdrawRequest" />
  <xs:element name="routePlayerWithdrawResponse" nillable="true" type="tns:WSPlayerWithdrawResponse" />
  <xs:element name="signOffReq" nillable="true" type="tns:WSSignOffRequest" />
  <xs:element name="routeSignOffResponse" nillable="true" type="tns:WSSignOffResponse" />
  <xs:element name="distributorSignOffReq" nillable="true" type="tns:WSDistributorSignOffRequest" />
  <xs:element name="routeDistributorSignOffResponse" nillable="true" type="tns:WSDistributorSignOffResponse" />
  <xs:element name="payReq" nillable="true" type="tns:WSPayRequest" />
  <xs:element name="routePayResponse" nillable="true" type="tns:WSPayResponse" />
  <xs:element name="lottoReq" nillable="true" type="tns:WSLottoGameRequest" />
  <xs:element name="routeLottoGameResponse" nillable="true" type="tns:WSLottoGameResponse" />
  <xs:element name="winCheckReq" nillable="true" type="tns:WSWinCheckRequest" />
  <xs:element name="routeWinCheckResponse" nillable="true" type="tns:WSWinCheckResponse" />
  <xs:element name="playerTransReq" nillable="true" type="tns:WSPlayerTransactionsRequest" />
  <xs:element name="routePlayerTransactionsResponse" nillable="true" type="tns:WSPlayerTransactionsResponse" />
  <xs:element name="kenoReq" nillable="true" type="tns:WSKenoGameRequest" />
  <xs:element name="routeKenoGameResponse" nillable="true" type="tns:WSKenoGameResponse" />
  <xs:element name="playerBalReq" nillable="true" type="tns:WSPlayerBalancesRequest" />
  <xs:element name="routePlayerBalancesResponse" nillable="true" type="tns:WSPlayerBalancesResponse" />
  <xs:element name="signOnReq" nillable="true" type="tns:WSSignOnRequest" />
  <xs:element name="routeSignOnResponse" nillable="true" type="tns:WSSignOnResponse" />
  <xs:element name="registerPlayerReq" nillable="true" type="tns:WSRegisterPlayerRequest" />
  <xs:element name="routeRegisterPlayerResponse" nillable="true" type="tns:WSRegisterPlayerResponse" />
  <xs:element name="drReq" nillable="true" type="tns:WSDrawResultsRequest" />
  <xs:element name="routeDrawResultsResponse" nillable="true" type="tns:WSDrawResultsResponse" />
  <xs:element name="playerDepositReq" nillable="true" type="tns:WSPlayerDepositRequest" />
  <xs:element name="routePlayerDepositResponse" nillable="true" type="tns:WSPlayerDepositResponse" />
  <xs:element name="purchaseVoucherReq" nillable="true" type="tns:WSPurchaseVoucherRequest" />
  <xs:element name="routePurchaseVoucherResponse" nillable="true" type="tns:WSPurchaseVoucherResponse" />
  <xs:element name="getCurrentDrawInfoReq" nillable="true" type="tns:WSGetCurrentDrawInfoRequest" />
  <xs:element name="routeGetCurrentDrawInfoResponse" nillable="true" type="tns:WSGetCurrentDrawInfoResponse" />
  <xs:element name="getPlayerProfileReq" nillable="true" type="tns:WSGetPlayerProfileRequest" />
  <xs:element name="routeGetPlayerProfileResponse" nillable="true" type="tns:WSGetPlayerProfileResponse" />
  <xs:element name="distributorSignOnReq" nillable="true" type="tns:WSDistributorSignOnRequest" />
  <xs:element name="routeDistributorSignOnResponse" nillable="true" type="tns:WSDistributorSignOnResponse" />
  <xs:element name="getForgotPasswordReq" nillable="true" type="tns:WSForgotPasswordRequest" />
  <xs:element name="routeForgotPasswordResponse" nillable="true" type="tns:WSForgotPasswordResponse" />
  <xs:element name="getVoucherFileNamesReq" nillable="true" type="tns:WSGetVoucherFileNamesRequest" />
  <xs:element name="routeGetVoucherFileNamesResponse" nillable="true" type="tns:WSGetVoucherFileNamesResponse" />
  <xs:element name="getVoucherFileReq" nillable="true" type="tns:WSGetVoucherFileRequest" />
  <xs:element name="routeGetVoucherFileResponse" nillable="true" type="tns:WSGetVoucherFileResponse" />
</xs:schema>