Bulktra_Inputter/App_WebReferences/SBPSwitch/sbpswitch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getInternalBankID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInternalBankIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getInternalBankIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getInternalBankIDSoapIn">
    <wsdl:part name="parameters" element="tns:getInternalBankID" />
  </wsdl:message>
  <wsdl:message name="getInternalBankIDSoapOut">
    <wsdl:part name="parameters" element="tns:getInternalBankIDResponse" />
  </wsdl:message>
  <wsdl:portType name="sbpswitchSoap">
    <wsdl:operation name="getInternalBankID">
      <wsdl:input message="tns:getInternalBankIDSoapIn" />
      <wsdl:output message="tns:getInternalBankIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sbpswitchSoap" type="tns:sbpswitchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInternalBankID">
      <soap:operation soapAction="http://tempuri.org/getInternalBankID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="sbpswitchSoap12" type="tns:sbpswitchSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getInternalBankID">
      <soap12:operation soapAction="http://tempuri.org/getInternalBankID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sbpswitch">
    <wsdl:port name="sbpswitchSoap" binding="tns:sbpswitchSoap">
      <soap:address location="http://10.0.41.102/sbpswitch/sbpswitch.asmx" />
    </wsdl:port>
    <wsdl:port name="sbpswitchSoap12" binding="tns:sbpswitchSoap12">
      <soap12:address location="http://10.0.41.102/sbpswitch/sbpswitch.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>