OutwardNIPWebServiceRepo/nfpLiveV2T24V21/App_WebReferences/Nibbslive/NIPInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://core.nip.nibss/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NIPInterface" targetNamespace="http://core.nip.nibss/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://core.nip.nibss/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="accountblock" type="tns:accountblock" />
      <xs:element name="accountblockResponse" type="tns:accountblockResponse" />
      <xs:element name="accountunblock" type="tns:accountunblock" />
      <xs:element name="accountunblockResponse" type="tns:accountunblockResponse" />
      <xs:element name="adjustNIPSettings" type="tns:adjustNIPSettings" />
      <xs:element name="adjustNIPSettingsResponse" type="tns:adjustNIPSettingsResponse" />
      <xs:element name="amountblock" type="tns:amountblock" />
      <xs:element name="amountblockResponse" type="tns:amountblockResponse" />
      <xs:element name="amountunblock" type="tns:amountunblock" />
      <xs:element name="amountunblockResponse" type="tns:amountunblockResponse" />
      <xs:element name="balanceenquiry" type="tns:balanceenquiry" />
      <xs:element name="balanceenquiryResponse" type="tns:balanceenquiryResponse" />
      <xs:element name="financialinstitutionlist" type="tns:financialinstitutionlist" />
      <xs:element name="financialinstitutionlistResponse" type="tns:financialinstitutionlistResponse" />
      <xs:element name="fundtransferAdvice_dc" type="tns:fundtransferAdvice_dc" />
      <xs:element name="fundtransferAdvice_dcResponse" type="tns:fundtransferAdvice_dcResponse" />
      <xs:element name="fundtransferAdvice_dd" type="tns:fundtransferAdvice_dd" />
      <xs:element name="fundtransferAdvice_ddResponse" type="tns:fundtransferAdvice_ddResponse" />
      <xs:element name="fundtransfersingleitem_dc" type="tns:fundtransfersingleitem_dc" />
      <xs:element name="fundtransfersingleitem_dcResponse" type="tns:fundtransfersingleitem_dcResponse" />
      <xs:element name="fundtransfersingleitem_dd" type="tns:fundtransfersingleitem_dd" />
      <xs:element name="fundtransfersingleitem_ddResponse" type="tns:fundtransfersingleitem_ddResponse" />
      <xs:element name="mandateadvice" type="tns:mandateadvice" />
      <xs:element name="mandateadviceResponse" type="tns:mandateadviceResponse" />
      <xs:element name="nameenquirysingleitem" type="tns:nameenquirysingleitem" />
      <xs:element name="nameenquirysingleitemResponse" type="tns:nameenquirysingleitemResponse" />
      <xs:element name="privateAdjustmentOfSettings" type="tns:privateAdjustmentOfSettings" />
      <xs:element name="privateAdjustmentOfSettingsResponse" type="tns:privateAdjustmentOfSettingsResponse" />
      <xs:element name="txnstatusquerysingleitem" type="tns:txnstatusquerysingleitem" />
      <xs:element name="txnstatusquerysingleitemResponse" type="tns:txnstatusquerysingleitemResponse" />
      <xs:complexType name="accountunblock">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accountunblockResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="balanceenquiry">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="balanceenquiryResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fundtransferAdvice_dd">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fundtransferAdvice_ddResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mandateadvice">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mandateadviceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fundtransferAdvice_dc">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fundtransferAdvice_dcResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fundtransfersingleitem_dc">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fundtransfersingleitem_dcResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accountblock">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accountblockResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fundtransfersingleitem_dd">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fundtransfersingleitem_ddResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="amountblock">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="amountblockResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="privateAdjustmentOfSettings">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="privateAdjustmentOfSettingsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nameenquirysingleitem">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="nameenquirysingleitemResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="amountunblock">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="amountunblockResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="financialinstitutionlist">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="financialinstitutionlistResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="txnstatusquerysingleitem">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="txnstatusquerysingleitemResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="adjustNIPSettings">
        <xs:sequence>
          <xs:element minOccurs="0" name="request" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="adjustNIPSettingsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="privateAdjustmentOfSettingsResponse">
    <wsdl:part name="parameters" element="tns:privateAdjustmentOfSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="fundtransfersingleitem_dcResponse">
    <wsdl:part name="parameters" element="tns:fundtransfersingleitem_dcResponse" />
  </wsdl:message>
  <wsdl:message name="fundtransfersingleitem_dc">
    <wsdl:part name="parameters" element="tns:fundtransfersingleitem_dc" />
  </wsdl:message>
  <wsdl:message name="amountunblockResponse">
    <wsdl:part name="parameters" element="tns:amountunblockResponse" />
  </wsdl:message>
  <wsdl:message name="accountblock">
    <wsdl:part name="parameters" element="tns:accountblock" />
  </wsdl:message>
  <wsdl:message name="balanceenquiryResponse">
    <wsdl:part name="parameters" element="tns:balanceenquiryResponse" />
  </wsdl:message>
  <wsdl:message name="fundtransfersingleitem_dd">
    <wsdl:part name="parameters" element="tns:fundtransfersingleitem_dd" />
  </wsdl:message>
  <wsdl:message name="accountblockResponse">
    <wsdl:part name="parameters" element="tns:accountblockResponse" />
  </wsdl:message>
  <wsdl:message name="mandateadviceResponse">
    <wsdl:part name="parameters" element="tns:mandateadviceResponse" />
  </wsdl:message>
  <wsdl:message name="fundtransferAdvice_dcResponse">
    <wsdl:part name="parameters" element="tns:fundtransferAdvice_dcResponse" />
  </wsdl:message>
  <wsdl:message name="txnstatusquerysingleitemResponse">
    <wsdl:part name="parameters" element="tns:txnstatusquerysingleitemResponse" />
  </wsdl:message>
  <wsdl:message name="fundtransfersingleitem_ddResponse">
    <wsdl:part name="parameters" element="tns:fundtransfersingleitem_ddResponse" />
  </wsdl:message>
  <wsdl:message name="txnstatusquerysingleitem">
    <wsdl:part name="parameters" element="tns:txnstatusquerysingleitem" />
  </wsdl:message>
  <wsdl:message name="nameenquirysingleitemResponse">
    <wsdl:part name="parameters" element="tns:nameenquirysingleitemResponse" />
  </wsdl:message>
  <wsdl:message name="accountunblock">
    <wsdl:part name="parameters" element="tns:accountunblock" />
  </wsdl:message>
  <wsdl:message name="balanceenquiry">
    <wsdl:part name="parameters" element="tns:balanceenquiry" />
  </wsdl:message>
  <wsdl:message name="accountunblockResponse">
    <wsdl:part name="parameters" element="tns:accountunblockResponse" />
  </wsdl:message>
  <wsdl:message name="fundtransferAdvice_dd">
    <wsdl:part name="parameters" element="tns:fundtransferAdvice_dd" />
  </wsdl:message>
  <wsdl:message name="mandateadvice">
    <wsdl:part name="parameters" element="tns:mandateadvice" />
  </wsdl:message>
  <wsdl:message name="fundtransferAdvice_ddResponse">
    <wsdl:part name="parameters" element="tns:fundtransferAdvice_ddResponse" />
  </wsdl:message>
  <wsdl:message name="fundtransferAdvice_dc">
    <wsdl:part name="parameters" element="tns:fundtransferAdvice_dc" />
  </wsdl:message>
  <wsdl:message name="amountblock">
    <wsdl:part name="parameters" element="tns:amountblock" />
  </wsdl:message>
  <wsdl:message name="privateAdjustmentOfSettings">
    <wsdl:part name="parameters" element="tns:privateAdjustmentOfSettings" />
  </wsdl:message>
  <wsdl:message name="amountblockResponse">
    <wsdl:part name="parameters" element="tns:amountblockResponse" />
  </wsdl:message>
  <wsdl:message name="nameenquirysingleitem">
    <wsdl:part name="parameters" element="tns:nameenquirysingleitem" />
  </wsdl:message>
  <wsdl:message name="financialinstitutionlistResponse">
    <wsdl:part name="parameters" element="tns:financialinstitutionlistResponse" />
  </wsdl:message>
  <wsdl:message name="adjustNIPSettingsResponse">
    <wsdl:part name="parameters" element="tns:adjustNIPSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="amountunblock">
    <wsdl:part name="parameters" element="tns:amountunblock" />
  </wsdl:message>
  <wsdl:message name="financialinstitutionlist">
    <wsdl:part name="parameters" element="tns:financialinstitutionlist" />
  </wsdl:message>
  <wsdl:message name="adjustNIPSettings">
    <wsdl:part name="parameters" element="tns:adjustNIPSettings" />
  </wsdl:message>
  <wsdl:portType name="NIPInterface">
    <wsdl:operation name="accountunblock">
      <wsdl:input name="accountunblock" message="tns:accountunblock" />
      <wsdl:output name="accountunblockResponse" message="tns:accountunblockResponse" />
    </wsdl:operation>
    <wsdl:operation name="balanceenquiry">
      <wsdl:input name="balanceenquiry" message="tns:balanceenquiry" />
      <wsdl:output name="balanceenquiryResponse" message="tns:balanceenquiryResponse" />
    </wsdl:operation>
    <wsdl:operation name="fundtransferAdvice_dd">
      <wsdl:input name="fundtransferAdvice_dd" message="tns:fundtransferAdvice_dd" />
      <wsdl:output name="fundtransferAdvice_ddResponse" message="tns:fundtransferAdvice_ddResponse" />
    </wsdl:operation>
    <wsdl:operation name="mandateadvice">
      <wsdl:input name="mandateadvice" message="tns:mandateadvice" />
      <wsdl:output name="mandateadviceResponse" message="tns:mandateadviceResponse" />
    </wsdl:operation>
    <wsdl:operation name="fundtransferAdvice_dc">
      <wsdl:input name="fundtransferAdvice_dc" message="tns:fundtransferAdvice_dc" />
      <wsdl:output name="fundtransferAdvice_dcResponse" message="tns:fundtransferAdvice_dcResponse" />
    </wsdl:operation>
    <wsdl:operation name="fundtransfersingleitem_dc">
      <wsdl:input name="fundtransfersingleitem_dc" message="tns:fundtransfersingleitem_dc" />
      <wsdl:output name="fundtransfersingleitem_dcResponse" message="tns:fundtransfersingleitem_dcResponse" />
    </wsdl:operation>
    <wsdl:operation name="accountblock">
      <wsdl:input name="accountblock" message="tns:accountblock" />
      <wsdl:output name="accountblockResponse" message="tns:accountblockResponse" />
    </wsdl:operation>
    <wsdl:operation name="fundtransfersingleitem_dd">
      <wsdl:input name="fundtransfersingleitem_dd" message="tns:fundtransfersingleitem_dd" />
      <wsdl:output name="fundtransfersingleitem_ddResponse" message="tns:fundtransfersingleitem_ddResponse" />
    </wsdl:operation>
    <wsdl:operation name="amountblock">
      <wsdl:input name="amountblock" message="tns:amountblock" />
      <wsdl:output name="amountblockResponse" message="tns:amountblockResponse" />
    </wsdl:operation>
    <wsdl:operation name="privateAdjustmentOfSettings">
      <wsdl:input name="privateAdjustmentOfSettings" message="tns:privateAdjustmentOfSettings" />
      <wsdl:output name="privateAdjustmentOfSettingsResponse" message="tns:privateAdjustmentOfSettingsResponse" />
    </wsdl:operation>
    <wsdl:operation name="nameenquirysingleitem">
      <wsdl:input name="nameenquirysingleitem" message="tns:nameenquirysingleitem" />
      <wsdl:output name="nameenquirysingleitemResponse" message="tns:nameenquirysingleitemResponse" />
    </wsdl:operation>
    <wsdl:operation name="amountunblock">
      <wsdl:input name="amountunblock" message="tns:amountunblock" />
      <wsdl:output name="amountunblockResponse" message="tns:amountunblockResponse" />
    </wsdl:operation>
    <wsdl:operation name="financialinstitutionlist">
      <wsdl:input name="financialinstitutionlist" message="tns:financialinstitutionlist" />
      <wsdl:output name="financialinstitutionlistResponse" message="tns:financialinstitutionlistResponse" />
    </wsdl:operation>
    <wsdl:operation name="txnstatusquerysingleitem">
      <wsdl:input name="txnstatusquerysingleitem" message="tns:txnstatusquerysingleitem" />
      <wsdl:output name="txnstatusquerysingleitemResponse" message="tns:txnstatusquerysingleitemResponse" />
    </wsdl:operation>
    <wsdl:operation name="adjustNIPSettings">
      <wsdl:input name="adjustNIPSettings" message="tns:adjustNIPSettings" />
      <wsdl:output name="adjustNIPSettingsResponse" message="tns:adjustNIPSettingsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NIPInterfaceSoapBinding" type="tns:NIPInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="accountunblock">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="accountunblock">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="accountunblockResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="balanceenquiry">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="balanceenquiry">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="balanceenquiryResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fundtransferAdvice_dd">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="fundtransferAdvice_dd">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="fundtransferAdvice_ddResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mandateadvice">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="mandateadvice">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="mandateadviceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fundtransferAdvice_dc">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="fundtransferAdvice_dc">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="fundtransferAdvice_dcResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fundtransfersingleitem_dc">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="fundtransfersingleitem_dc">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="fundtransfersingleitem_dcResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accountblock">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="accountblock">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="accountblockResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fundtransfersingleitem_dd">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="fundtransfersingleitem_dd">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="fundtransfersingleitem_ddResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="amountblock">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="amountblock">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="amountblockResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="privateAdjustmentOfSettings">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="privateAdjustmentOfSettings">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="privateAdjustmentOfSettingsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nameenquirysingleitem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="nameenquirysingleitem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="nameenquirysingleitemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="amountunblock">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="amountunblock">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="amountunblockResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="financialinstitutionlist">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="financialinstitutionlist">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="financialinstitutionlistResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="txnstatusquerysingleitem">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="txnstatusquerysingleitem">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="txnstatusquerysingleitemResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adjustNIPSettings">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="adjustNIPSettings">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="adjustNIPSettingsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NIPInterface">
    <wsdl:port name="NIPInterfacePort" binding="tns:NIPInterfaceSoapBinding">
      <soap:address location="http://192.234.10.202:8086/NIPWS/NIPInterface" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>