SterlingUSSDT24/MMUSSD-210718/App_WebReferences/BankOneService/BankOneTransactionRequestService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankOneTransactionRequestService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://52.224.166.115/BankOneFT/BankOneTransactionRequestService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://52.224.166.115/BankOneFT/BankOneTransactionRequestService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankOneTransactionRequestService_BankOneDeposit_InputMessage">
    <wsdl:part name="parameters" element="tns:BankOneDeposit" />
  </wsdl:message>
  <wsdl:message name="IBankOneTransactionRequestService_BankOneDeposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankOneDepositResponse" />
  </wsdl:message>
  <wsdl:message name="IBankOneTransactionRequestService_BankOneWithdrawal_InputMessage">
    <wsdl:part name="parameters" element="tns:BankOneWithdrawal" />
  </wsdl:message>
  <wsdl:message name="IBankOneTransactionRequestService_BankOneWithdrawal_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankOneWithdrawalResponse" />
  </wsdl:message>
  <wsdl:message name="IBankOneTransactionRequestService_BankOneGetAccountName_InputMessage">
    <wsdl:part name="parameters" element="tns:BankOneGetAccountName" />
  </wsdl:message>
  <wsdl:message name="IBankOneTransactionRequestService_BankOneGetAccountName_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankOneGetAccountNameResponse" />
  </wsdl:message>
  <wsdl:message name="IBankOneTransactionRequestService_BankOneRequeryTransacrionStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:BankOneRequeryTransacrionStatus" />
  </wsdl:message>
  <wsdl:message name="IBankOneTransactionRequestService_BankOneRequeryTransacrionStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankOneRequeryTransacrionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IBankOneTransactionRequestService_CardIssuanceCardValidation_InputMessage">
    <wsdl:part name="parameters" element="tns:CardIssuanceCardValidation" />
  </wsdl:message>
  <wsdl:message name="IBankOneTransactionRequestService_CardIssuanceCardValidation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CardIssuanceCardValidationResponse" />
  </wsdl:message>
  <wsdl:message name="IBankOneTransactionRequestService_BankOneBalanceEnquiry_InputMessage">
    <wsdl:part name="parameters" element="tns:BankOneBalanceEnquiry" />
  </wsdl:message>
  <wsdl:message name="IBankOneTransactionRequestService_BankOneBalanceEnquiry_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankOneBalanceEnquiryResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankOneTransactionRequestService">
    <wsdl:operation name="BankOneDeposit">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOneTransactionRequestService/BankOneDeposit" message="tns:IBankOneTransactionRequestService_BankOneDeposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOneTransactionRequestService/BankOneDepositResponse" message="tns:IBankOneTransactionRequestService_BankOneDeposit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BankOneWithdrawal">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOneTransactionRequestService/BankOneWithdrawal" message="tns:IBankOneTransactionRequestService_BankOneWithdrawal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOneTransactionRequestService/BankOneWithdrawalResponse" message="tns:IBankOneTransactionRequestService_BankOneWithdrawal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BankOneGetAccountName">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOneTransactionRequestService/BankOneGetAccountName" message="tns:IBankOneTransactionRequestService_BankOneGetAccountName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOneTransactionRequestService/BankOneGetAccountNameResponse" message="tns:IBankOneTransactionRequestService_BankOneGetAccountName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BankOneRequeryTransacrionStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOneTransactionRequestService/BankOneRequeryTransacrionStatus" message="tns:IBankOneTransactionRequestService_BankOneRequeryTransacrionStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOneTransactionRequestService/BankOneRequeryTransacrionStatusResponse" message="tns:IBankOneTransactionRequestService_BankOneRequeryTransacrionStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CardIssuanceCardValidation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOneTransactionRequestService/CardIssuanceCardValidation" message="tns:IBankOneTransactionRequestService_CardIssuanceCardValidation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOneTransactionRequestService/CardIssuanceCardValidationResponse" message="tns:IBankOneTransactionRequestService_CardIssuanceCardValidation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BankOneBalanceEnquiry">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankOneTransactionRequestService/BankOneBalanceEnquiry" message="tns:IBankOneTransactionRequestService_BankOneBalanceEnquiry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankOneTransactionRequestService/BankOneBalanceEnquiryResponse" message="tns:IBankOneTransactionRequestService_BankOneBalanceEnquiry_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankOneTransactionRequestService" type="tns:IBankOneTransactionRequestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BankOneDeposit">
      <soap:operation soapAction="http://tempuri.org/IBankOneTransactionRequestService/BankOneDeposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankOneWithdrawal">
      <soap:operation soapAction="http://tempuri.org/IBankOneTransactionRequestService/BankOneWithdrawal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankOneGetAccountName">
      <soap:operation soapAction="http://tempuri.org/IBankOneTransactionRequestService/BankOneGetAccountName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankOneRequeryTransacrionStatus">
      <soap:operation soapAction="http://tempuri.org/IBankOneTransactionRequestService/BankOneRequeryTransacrionStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CardIssuanceCardValidation">
      <soap:operation soapAction="http://tempuri.org/IBankOneTransactionRequestService/CardIssuanceCardValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankOneBalanceEnquiry">
      <soap:operation soapAction="http://tempuri.org/IBankOneTransactionRequestService/BankOneBalanceEnquiry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankOneTransactionRequestService">
    <wsdl:port name="BasicHttpBinding_IBankOneTransactionRequestService" binding="tns:BasicHttpBinding_IBankOneTransactionRequestService">
      <soap:address location="http://52.224.166.115/BankOneFT/BankOneTransactionRequestService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>