OutwardNIPWebServiceRepo/nfpLiveV2T24V21/App_WebReferences/vteller/nfp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NIBBS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trnxType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NIBBSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NIBBSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NIBBSInward">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="trnxType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NIBBSInwardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NIBBSInwardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NIBBSSoapIn">
    <wsdl:part name="parameters" element="tns:NIBBS" />
  </wsdl:message>
  <wsdl:message name="NIBBSSoapOut">
    <wsdl:part name="parameters" element="tns:NIBBSResponse" />
  </wsdl:message>
  <wsdl:message name="NIBBSInwardSoapIn">
    <wsdl:part name="parameters" element="tns:NIBBSInward" />
  </wsdl:message>
  <wsdl:message name="NIBBSInwardSoapOut">
    <wsdl:part name="parameters" element="tns:NIBBSInwardResponse" />
  </wsdl:message>
  <wsdl:portType name="nfpSoap">
    <wsdl:operation name="NIBBS">
      <wsdl:input message="tns:NIBBSSoapIn" />
      <wsdl:output message="tns:NIBBSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NIBBSInward">
      <wsdl:input message="tns:NIBBSInwardSoapIn" />
      <wsdl:output message="tns:NIBBSInwardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="nfpSoap" type="tns:nfpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NIBBS">
      <soap:operation soapAction="http://tempuri.org/NIBBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NIBBSInward">
      <soap:operation soapAction="http://tempuri.org/NIBBSInward" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="nfpSoap12" type="tns:nfpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NIBBS">
      <soap12:operation soapAction="http://tempuri.org/NIBBS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NIBBSInward">
      <soap12:operation soapAction="http://tempuri.org/NIBBSInward" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="nfp">
    <wsdl:port name="nfpSoap" binding="tns:nfpSoap">
      <soap:address location="http://192.168.4.73:814/nfp.asmx" />
    </wsdl:port>
    <wsdl:port name="nfpSoap12" binding="tns:nfpSoap12">
      <soap12:address location="http://192.168.4.73:814/nfp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>