OutwardNIPWebServiceRepo/nfpLiveV2T24V21/App_WebReferences/BankOneService/SterlingFundsTransferService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SterlingFundsTransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://173.1.217.219/BankOneFT/SterlingFundsTransferService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://173.1.217.219/BankOneFT/SterlingFundsTransferService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISterlingFundsTransferService_BankOneGetAccountName_InputMessage">
    <wsdl:part name="parameters" element="tns:BankOneGetAccountName" />
  </wsdl:message>
  <wsdl:message name="ISterlingFundsTransferService_BankOneGetAccountName_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankOneGetAccountNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISterlingFundsTransferService_BankOneDeposit_InputMessage">
    <wsdl:part name="parameters" element="tns:BankOneDeposit" />
  </wsdl:message>
  <wsdl:message name="ISterlingFundsTransferService_BankOneDeposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankOneDepositResponse" />
  </wsdl:message>
  <wsdl:message name="ISterlingFundsTransferService_BankOneInterBankDeposit_InputMessage">
    <wsdl:part name="parameters" element="tns:BankOneInterBankDeposit" />
  </wsdl:message>
  <wsdl:message name="ISterlingFundsTransferService_BankOneInterBankDeposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankOneInterBankDepositResponse" />
  </wsdl:message>
  <wsdl:message name="ISterlingFundsTransferService_BankOneDepositReversal_InputMessage">
    <wsdl:part name="parameters" element="tns:BankOneDepositReversal" />
  </wsdl:message>
  <wsdl:message name="ISterlingFundsTransferService_BankOneDepositReversal_OutputMessage">
    <wsdl:part name="parameters" element="tns:BankOneDepositReversalResponse" />
  </wsdl:message>
  <wsdl:message name="ISterlingFundsTransferService_FundsTranferAdvice_InputMessage">
    <wsdl:part name="parameters" element="tns:FundsTranferAdvice" />
  </wsdl:message>
  <wsdl:message name="ISterlingFundsTransferService_FundsTranferAdvice_OutputMessage">
    <wsdl:part name="parameters" element="tns:FundsTranferAdviceResponse" />
  </wsdl:message>
  <wsdl:portType name="ISterlingFundsTransferService">
    <wsdl:operation name="BankOneGetAccountName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISterlingFundsTransferService/BankOneGetAccountName" message="tns:ISterlingFundsTransferService_BankOneGetAccountName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISterlingFundsTransferService/BankOneGetAccountNameResponse" message="tns:ISterlingFundsTransferService_BankOneGetAccountName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BankOneDeposit">
      <wsdl:input wsaw:Action="http://tempuri.org/ISterlingFundsTransferService/BankOneDeposit" message="tns:ISterlingFundsTransferService_BankOneDeposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISterlingFundsTransferService/BankOneDepositResponse" message="tns:ISterlingFundsTransferService_BankOneDeposit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BankOneInterBankDeposit">
      <wsdl:input wsaw:Action="http://tempuri.org/ISterlingFundsTransferService/BankOneInterBankDeposit" message="tns:ISterlingFundsTransferService_BankOneInterBankDeposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISterlingFundsTransferService/BankOneInterBankDepositResponse" message="tns:ISterlingFundsTransferService_BankOneInterBankDeposit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BankOneDepositReversal">
      <wsdl:input wsaw:Action="http://tempuri.org/ISterlingFundsTransferService/BankOneDepositReversal" message="tns:ISterlingFundsTransferService_BankOneDepositReversal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISterlingFundsTransferService/BankOneDepositReversalResponse" message="tns:ISterlingFundsTransferService_BankOneDepositReversal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FundsTranferAdvice">
      <wsdl:input wsaw:Action="http://tempuri.org/ISterlingFundsTransferService/FundsTranferAdvice" message="tns:ISterlingFundsTransferService_FundsTranferAdvice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISterlingFundsTransferService/FundsTranferAdviceResponse" message="tns:ISterlingFundsTransferService_FundsTranferAdvice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISterlingFundsTransferService" type="tns:ISterlingFundsTransferService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BankOneGetAccountName">
      <soap:operation soapAction="http://tempuri.org/ISterlingFundsTransferService/BankOneGetAccountName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankOneDeposit">
      <soap:operation soapAction="http://tempuri.org/ISterlingFundsTransferService/BankOneDeposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankOneInterBankDeposit">
      <soap:operation soapAction="http://tempuri.org/ISterlingFundsTransferService/BankOneInterBankDeposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BankOneDepositReversal">
      <soap:operation soapAction="http://tempuri.org/ISterlingFundsTransferService/BankOneDepositReversal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FundsTranferAdvice">
      <soap:operation soapAction="http://tempuri.org/ISterlingFundsTransferService/FundsTranferAdvice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SterlingFundsTransferService">
    <wsdl:port name="BasicHttpBinding_ISterlingFundsTransferService" binding="tns:BasicHttpBinding_ISterlingFundsTransferService">
      <soap:address location="http://173.1.217.219/BankOneFT/SterlingFundsTransferService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>