imalcoreV2/imalChannelWS/Service References/imalcore/services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AccountValidation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="acctnumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountValidationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountValidationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FundstransFer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fromacct" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="toacct" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amt" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="remarks" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FundstransFerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FundstransFerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AccountValidationSoapIn">
    <wsdl:part name="parameters" element="tns:AccountValidation" />
  </wsdl:message>
  <wsdl:message name="AccountValidationSoapOut">
    <wsdl:part name="parameters" element="tns:AccountValidationResponse" />
  </wsdl:message>
  <wsdl:message name="FundstransFerSoapIn">
    <wsdl:part name="parameters" element="tns:FundstransFer" />
  </wsdl:message>
  <wsdl:message name="FundstransFerSoapOut">
    <wsdl:part name="parameters" element="tns:FundstransFerResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicesSoap">
    <wsdl:operation name="AccountValidation">
      <wsdl:input message="tns:AccountValidationSoapIn" />
      <wsdl:output message="tns:AccountValidationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FundstransFer">
      <wsdl:input message="tns:FundstransFerSoapIn" />
      <wsdl:output message="tns:FundstransFerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesSoap" type="tns:ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountValidation">
      <soap:operation soapAction="http://tempuri.org/AccountValidation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FundstransFer">
      <soap:operation soapAction="http://tempuri.org/FundstransFer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicesSoap12" type="tns:ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountValidation">
      <soap12:operation soapAction="http://tempuri.org/AccountValidation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FundstransFer">
      <soap12:operation soapAction="http://tempuri.org/FundstransFer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="ServicesSoap" binding="tns:ServicesSoap">
      <soap:address location="http://localhost:9085/services.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicesSoap12" binding="tns:ServicesSoap12">
      <soap12:address location="http://localhost:9085/services.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>