OutwardNIPWebServiceRepo/nfpLiveV2T24V21/App_WebReferences/TestTQ/requery.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="requery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channelcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destBankCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requeryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requeryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="requerySoapIn">
    <wsdl:part name="parameters" element="tns:requery" />
  </wsdl:message>
  <wsdl:message name="requerySoapOut">
    <wsdl:part name="parameters" element="tns:requeryResponse" />
  </wsdl:message>
  <wsdl:portType name="RequerySoap">
    <wsdl:operation name="requery">
      <wsdl:input message="tns:requerySoapIn" />
      <wsdl:output message="tns:requerySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RequerySoap" type="tns:RequerySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="requery">
      <soap:operation soapAction="http://tempuri.org/requery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RequerySoap12" type="tns:RequerySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="requery">
      <soap12:operation soapAction="http://tempuri.org/requery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Requery">
    <wsdl:port name="RequerySoap" binding="tns:RequerySoap">
      <soap:address location="http://localhost:9081/requery.asmx" />
    </wsdl:port>
    <wsdl:port name="RequerySoap12" binding="tns:RequerySoap12">
      <soap12:address location="http://localhost:9081/requery.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>