Doubble/Doubble/Service References/GenerateOtp/generateotp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="doGenerateOtp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nuban" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="doGenerateOtpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobnum" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendSmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendSmsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpAndMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nuban" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpAndMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doGenerateOtpAndMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTextToPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTextToPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendTextToPhoneNumberResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpAndMailByPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nuban" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpAndMailByPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doGenerateOtpAndMailByPhoneNumberResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpAndMailByPhoneNumberWithMailBody">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nuban" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBody" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpAndMailByPhoneNumberWithMailBodyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doGenerateOtpAndMailByPhoneNumberWithMailBodyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpAndMailByPhoneNumberWithMailBody2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nuban" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsbody" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpAndMailByPhoneNumberWithMailBody2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doGenerateOtpAndMailByPhoneNumberWithMailBody2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpAndMailByPhoneNumberWithMailBodyD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nuban" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsbody" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpAndMailByPhoneNumberWithMailBodyDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doGenerateOtpAndMailByPhoneNumberWithMailBodyDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyOtp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nuban" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="otp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyOtpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verifyOtpResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyOtpHigherDelay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nuban" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="otp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyOtpHigherDelayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verifyOtpHigherDelayResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpToMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="destinationEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sourceEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBody" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpToMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="doGenerateOtpToMailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyOtpToMail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="otp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minutes" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyOtpToMailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verifyOtpToMailResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpByMobile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobnum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpByMobileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="doGenerateOtpByMobileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpByMobileDoubble">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobnum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doGenerateOtpByMobileDoubbleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="doGenerateOtpByMobileDoubbleResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyOtpByMobile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="otp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyOtpByMobileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verifyOtpByMobileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="doGenerateOtpSoapIn">
    <wsdl:part name="parameters" element="tns:doGenerateOtp" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpSoapOut">
    <wsdl:part name="parameters" element="tns:doGenerateOtpResponse" />
  </wsdl:message>
  <wsdl:message name="sendSmsSoapIn">
    <wsdl:part name="parameters" element="tns:sendSms" />
  </wsdl:message>
  <wsdl:message name="sendSmsSoapOut">
    <wsdl:part name="parameters" element="tns:sendSmsResponse" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpAndMailSoapIn">
    <wsdl:part name="parameters" element="tns:doGenerateOtpAndMail" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpAndMailSoapOut">
    <wsdl:part name="parameters" element="tns:doGenerateOtpAndMailResponse" />
  </wsdl:message>
  <wsdl:message name="SendTextToPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:SendTextToPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="SendTextToPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:SendTextToPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpAndMailByPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:doGenerateOtpAndMailByPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpAndMailByPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:doGenerateOtpAndMailByPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpAndMailByPhoneNumberWithMailBodySoapIn">
    <wsdl:part name="parameters" element="tns:doGenerateOtpAndMailByPhoneNumberWithMailBody" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpAndMailByPhoneNumberWithMailBodySoapOut">
    <wsdl:part name="parameters" element="tns:doGenerateOtpAndMailByPhoneNumberWithMailBodyResponse" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpAndMailByPhoneNumberWithMailBody2SoapIn">
    <wsdl:part name="parameters" element="tns:doGenerateOtpAndMailByPhoneNumberWithMailBody2" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpAndMailByPhoneNumberWithMailBody2SoapOut">
    <wsdl:part name="parameters" element="tns:doGenerateOtpAndMailByPhoneNumberWithMailBody2Response" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpAndMailByPhoneNumberWithMailBodyDSoapIn">
    <wsdl:part name="parameters" element="tns:doGenerateOtpAndMailByPhoneNumberWithMailBodyD" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpAndMailByPhoneNumberWithMailBodyDSoapOut">
    <wsdl:part name="parameters" element="tns:doGenerateOtpAndMailByPhoneNumberWithMailBodyDResponse" />
  </wsdl:message>
  <wsdl:message name="verifyOtpSoapIn">
    <wsdl:part name="parameters" element="tns:verifyOtp" />
  </wsdl:message>
  <wsdl:message name="verifyOtpSoapOut">
    <wsdl:part name="parameters" element="tns:verifyOtpResponse" />
  </wsdl:message>
  <wsdl:message name="verifyOtpHigherDelaySoapIn">
    <wsdl:part name="parameters" element="tns:verifyOtpHigherDelay" />
  </wsdl:message>
  <wsdl:message name="verifyOtpHigherDelaySoapOut">
    <wsdl:part name="parameters" element="tns:verifyOtpHigherDelayResponse" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpToMailSoapIn">
    <wsdl:part name="parameters" element="tns:doGenerateOtpToMail" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpToMailSoapOut">
    <wsdl:part name="parameters" element="tns:doGenerateOtpToMailResponse" />
  </wsdl:message>
  <wsdl:message name="verifyOtpToMailSoapIn">
    <wsdl:part name="parameters" element="tns:verifyOtpToMail" />
  </wsdl:message>
  <wsdl:message name="verifyOtpToMailSoapOut">
    <wsdl:part name="parameters" element="tns:verifyOtpToMailResponse" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpByMobileSoapIn">
    <wsdl:part name="parameters" element="tns:doGenerateOtpByMobile" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpByMobileSoapOut">
    <wsdl:part name="parameters" element="tns:doGenerateOtpByMobileResponse" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpByMobileDoubbleSoapIn">
    <wsdl:part name="parameters" element="tns:doGenerateOtpByMobileDoubble" />
  </wsdl:message>
  <wsdl:message name="doGenerateOtpByMobileDoubbleSoapOut">
    <wsdl:part name="parameters" element="tns:doGenerateOtpByMobileDoubbleResponse" />
  </wsdl:message>
  <wsdl:message name="verifyOtpByMobileSoapIn">
    <wsdl:part name="parameters" element="tns:verifyOtpByMobile" />
  </wsdl:message>
  <wsdl:message name="verifyOtpByMobileSoapOut">
    <wsdl:part name="parameters" element="tns:verifyOtpByMobileResponse" />
  </wsdl:message>
  <wsdl:portType name="GenerateOtpSoap">
    <wsdl:operation name="doGenerateOtp">
      <wsdl:input message="tns:doGenerateOtpSoapIn" />
      <wsdl:output message="tns:doGenerateOtpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendSms">
      <wsdl:input message="tns:sendSmsSoapIn" />
      <wsdl:output message="tns:sendSmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMail">
      <wsdl:input message="tns:doGenerateOtpAndMailSoapIn" />
      <wsdl:output message="tns:doGenerateOtpAndMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTextToPhoneNumber">
      <wsdl:input message="tns:SendTextToPhoneNumberSoapIn" />
      <wsdl:output message="tns:SendTextToPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMailByPhoneNumber">
      <wsdl:input message="tns:doGenerateOtpAndMailByPhoneNumberSoapIn" />
      <wsdl:output message="tns:doGenerateOtpAndMailByPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMailByPhoneNumberWithMailBody">
      <wsdl:input message="tns:doGenerateOtpAndMailByPhoneNumberWithMailBodySoapIn" />
      <wsdl:output message="tns:doGenerateOtpAndMailByPhoneNumberWithMailBodySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMailByPhoneNumberWithMailBody2">
      <wsdl:input message="tns:doGenerateOtpAndMailByPhoneNumberWithMailBody2SoapIn" />
      <wsdl:output message="tns:doGenerateOtpAndMailByPhoneNumberWithMailBody2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMailByPhoneNumberWithMailBodyD">
      <wsdl:input message="tns:doGenerateOtpAndMailByPhoneNumberWithMailBodyDSoapIn" />
      <wsdl:output message="tns:doGenerateOtpAndMailByPhoneNumberWithMailBodyDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyOtp">
      <wsdl:input message="tns:verifyOtpSoapIn" />
      <wsdl:output message="tns:verifyOtpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyOtpHigherDelay">
      <wsdl:input message="tns:verifyOtpHigherDelaySoapIn" />
      <wsdl:output message="tns:verifyOtpHigherDelaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpToMail">
      <wsdl:input message="tns:doGenerateOtpToMailSoapIn" />
      <wsdl:output message="tns:doGenerateOtpToMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyOtpToMail">
      <wsdl:input message="tns:verifyOtpToMailSoapIn" />
      <wsdl:output message="tns:verifyOtpToMailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpByMobile">
      <wsdl:input message="tns:doGenerateOtpByMobileSoapIn" />
      <wsdl:output message="tns:doGenerateOtpByMobileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpByMobileDoubble">
      <wsdl:input message="tns:doGenerateOtpByMobileDoubbleSoapIn" />
      <wsdl:output message="tns:doGenerateOtpByMobileDoubbleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyOtpByMobile">
      <wsdl:input message="tns:verifyOtpByMobileSoapIn" />
      <wsdl:output message="tns:verifyOtpByMobileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GenerateOtpSoap" type="tns:GenerateOtpSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doGenerateOtp">
      <soap:operation soapAction="http://tempuri.org/doGenerateOtp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSms">
      <soap:operation soapAction="http://tempuri.org/sendSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMail">
      <soap:operation soapAction="http://tempuri.org/doGenerateOtpAndMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTextToPhoneNumber">
      <soap:operation soapAction="http://tempuri.org/SendTextToPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMailByPhoneNumber">
      <soap:operation soapAction="http://tempuri.org/doGenerateOtpAndMailByPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMailByPhoneNumberWithMailBody">
      <soap:operation soapAction="http://tempuri.org/doGenerateOtpAndMailByPhoneNumberWithMailBody" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMailByPhoneNumberWithMailBody2">
      <soap:operation soapAction="http://tempuri.org/doGenerateOtpAndMailByPhoneNumberWithMailBody2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMailByPhoneNumberWithMailBodyD">
      <soap:operation soapAction="http://tempuri.org/doGenerateOtpAndMailByPhoneNumberWithMailBodyD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyOtp">
      <soap:operation soapAction="http://tempuri.org/verifyOtp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyOtpHigherDelay">
      <soap:operation soapAction="http://tempuri.org/verifyOtpHigherDelay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpToMail">
      <soap:operation soapAction="http://tempuri.org/doGenerateOtpToMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyOtpToMail">
      <soap:operation soapAction="http://tempuri.org/verifyOtpToMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpByMobile">
      <soap:operation soapAction="http://tempuri.org/doGenerateOtpByMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpByMobileDoubble">
      <soap:operation soapAction="http://tempuri.org/doGenerateOtpByMobileDoubble" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyOtpByMobile">
      <soap:operation soapAction="http://tempuri.org/verifyOtpByMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GenerateOtpSoap12" type="tns:GenerateOtpSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doGenerateOtp">
      <soap12:operation soapAction="http://tempuri.org/doGenerateOtp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendSms">
      <soap12:operation soapAction="http://tempuri.org/sendSms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMail">
      <soap12:operation soapAction="http://tempuri.org/doGenerateOtpAndMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTextToPhoneNumber">
      <soap12:operation soapAction="http://tempuri.org/SendTextToPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMailByPhoneNumber">
      <soap12:operation soapAction="http://tempuri.org/doGenerateOtpAndMailByPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMailByPhoneNumberWithMailBody">
      <soap12:operation soapAction="http://tempuri.org/doGenerateOtpAndMailByPhoneNumberWithMailBody" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMailByPhoneNumberWithMailBody2">
      <soap12:operation soapAction="http://tempuri.org/doGenerateOtpAndMailByPhoneNumberWithMailBody2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpAndMailByPhoneNumberWithMailBodyD">
      <soap12:operation soapAction="http://tempuri.org/doGenerateOtpAndMailByPhoneNumberWithMailBodyD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyOtp">
      <soap12:operation soapAction="http://tempuri.org/verifyOtp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyOtpHigherDelay">
      <soap12:operation soapAction="http://tempuri.org/verifyOtpHigherDelay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpToMail">
      <soap12:operation soapAction="http://tempuri.org/doGenerateOtpToMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyOtpToMail">
      <soap12:operation soapAction="http://tempuri.org/verifyOtpToMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpByMobile">
      <soap12:operation soapAction="http://tempuri.org/doGenerateOtpByMobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doGenerateOtpByMobileDoubble">
      <soap12:operation soapAction="http://tempuri.org/doGenerateOtpByMobileDoubble" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyOtpByMobile">
      <soap12:operation soapAction="http://tempuri.org/verifyOtpByMobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenerateOtp">
    <wsdl:port name="GenerateOtpSoap" binding="tns:GenerateOtpSoap">
      <soap:address location="http://10.0.0.189:8091/GenerateOtp.asmx" />
    </wsdl:port>
    <wsdl:port name="GenerateOtpSoap12" binding="tns:GenerateOtpSoap12">
      <soap12:address location="http://10.0.0.189:8091/GenerateOtp.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>