ussdFTProcessingJobs - 25032018/BVNAcctCreation/Service References/BVN/ProcessWebBVN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcessWeb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Appid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessWebResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessWebResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessWebSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessWeb" />
  </wsdl:message>
  <wsdl:message name="ProcessWebSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessWebResponse" />
  </wsdl:message>
  <wsdl:portType name="ProcessWebBVNSoap">
    <wsdl:operation name="ProcessWeb">
      <wsdl:input message="tns:ProcessWebSoapIn" />
      <wsdl:output message="tns:ProcessWebSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcessWebBVNSoap" type="tns:ProcessWebBVNSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessWeb">
      <soap:operation soapAction="http://tempuri.org/ProcessWeb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProcessWebBVNSoap12" type="tns:ProcessWebBVNSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessWeb">
      <soap12:operation soapAction="http://tempuri.org/ProcessWeb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessWebBVN">
    <wsdl:port name="ProcessWebBVNSoap" binding="tns:ProcessWebBVNSoap">
      <soap:address location="http://hqebiztestapp/GETNIBSSBVN/ProcessWebBVN.asmx" />
    </wsdl:port>
    <wsdl:port name="ProcessWebBVNSoap12" binding="tns:ProcessWebBVNSoap12">
      <soap12:address location="http://hqebiztestapp/GETNIBSSBVN/ProcessWebBVN.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>