SterlingUSSDT24/MMUSSD_bacup31052018/App_WebReferences/imal1/NIBankingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.remote.nibanking.sterlingbankng.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="NIBankingService" targetNamespace="http://service.remote.nibanking.sterlingbankng.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.remote.nibanking.sterlingbankng.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="process" type="tns:process" />
      <xs:element name="processResponse" type="tns:processResponse" />
      <xs:complexType name="process">
        <xs:sequence>
          <xs:element minOccurs="0" name="transactionRequest" type="xs:string" />
          <xs:element minOccurs="0" name="principalIdentifier" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="processResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="process">
    <wsdl:part name="parameters" element="tns:process" />
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception" />
  </wsdl:message>
  <wsdl:message name="processResponse">
    <wsdl:part name="parameters" element="tns:processResponse" />
  </wsdl:message>
  <wsdl:portType name="NIBankingService">
    <wsdl:operation name="process">
      <wsdl:input name="process" message="tns:process" />
      <wsdl:output name="processResponse" message="tns:processResponse" />
      <wsdl:fault name="Exception" message="tns:Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NIBankingServiceSoapBinding" type="tns:NIBankingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="process">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="process">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="processResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NIBankingService">
    <wsdl:port name="NIBankingRemoteServicePort" binding="tns:NIBankingServiceSoapBinding">
      <soap:address location="http://10.0.41.207:3030/NIBanking/services/nib" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>