SterlingUSSDT24/InstantAccountLib/Service References/OCAWS/ocaservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="USSDAccountRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="USSDAccountRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="USSDAccountRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="USSDAccountRequestSoapIn">
    <wsdl:part name="parameters" element="tns:USSDAccountRequest" />
  </wsdl:message>
  <wsdl:message name="USSDAccountRequestSoapOut">
    <wsdl:part name="parameters" element="tns:USSDAccountRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="ocaserviceSoap">
    <wsdl:operation name="USSDAccountRequest">
      <wsdl:input message="tns:USSDAccountRequestSoapIn" />
      <wsdl:output message="tns:USSDAccountRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ocaserviceSoap" type="tns:ocaserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="USSDAccountRequest">
      <soap:operation soapAction="http://tempuri.org/USSDAccountRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ocaserviceSoap12" type="tns:ocaserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="USSDAccountRequest">
      <soap12:operation soapAction="http://tempuri.org/USSDAccountRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ocaservice">
    <wsdl:port name="ocaserviceSoap" binding="tns:ocaserviceSoap">
      <soap:address location="http://localhost/OCAApi/ocaservice.asmx" />
    </wsdl:port>
    <wsdl:port name="ocaserviceSoap12" binding="tns:ocaserviceSoap12">
      <soap12:address location="http://localhost/OCAApi/ocaservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>